[submodule "notebooks/notes"]
	path = notebooks/notes
	url = https://github.com/ddubson/notes
[submodule "notebooks/dotnet-cookbook"]
	path = notebooks/dotnet-cookbook
	url = https://github.com/ddubson/dotnet-cookbook
[submodule "templates/hugo-theme-learn"]
	path = templates/hugo-theme-learn
	url = https://github.com/ddubson/hugo-theme-learn
[submodule "notebooks/cheatsheets"]
	path = notebooks/cheatsheets
	url = https://github.com/ddubson/cheatsheets
